@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0F0A06;
  color: #EAD9B0;
  font-family: 'Courier Prime', monospace;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}